// Styling for the footer
footer {
  padding: 30px 0;
  text-align: center;
  background-color: rgba(81, 83, 92, 1);
  color: #fff;
  span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    @include heading-font;
  }
  .footer-copyright{
    padding-top: 5px;
    border-top: 1px solid rgb(207, 229, 241);
  }
}