header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url('../images/main.jpg');; 
  background-position: center bottom 38%;
  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 0.7rem;
  }
  p {
    font-weight: 400;
    letter-spacing: 0.1em;
    background-color: #363c42;
    text-shadow: 2px 2px 20px $white;
    border-radius: 8px;
  }
  @media (min-width: 768px) {
    p {
      font-size: 1.15rem;
    }
  }
  @media (min-width: 992px) {
    height: 95vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
    h1 {
      font-size: 1.8rem;
    }
  }
  @media (min-width: 1200px) {
    h1 {
      font-size: 2rem;
    }
  }
}
