// Styling for the team section
.team-member {
  margin-bottom: 50px;
  text-align: center;
  .company-logo {
    border: 7px solid $white;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    border-radius: 50%;
    transition: all .4s ease;
    &:hover {
      transform: scale(1.2);
    }
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}
